.overlap {
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  position: absolute;
  color: transparent;
  text-overflow: clip;
  opacity: 0;
}

.label {
  opacity: 1;
  position: relative;
  color: black;
  z-index: 1002;
}



.modalWin{
  position: absolute;
  width:20%;
  height:25%;
  top: 25%;
  left: 40%;

  z-index: 2;
}
.gameover {
  background-color: #fff;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
width: 95%;
  margin: auto;
  height: 95%;
  border-radius: 2px;
}

.gameover:before, .gameover:after {
  position: absolute;
  width: 40%;
  height: 10px;
  content: ' ';
  left: 12px;
  bottom: 10px;
  background: transparent;
  -webkit-transform: skew(-5deg) rotate(-5deg);
  -moz-transform: skew(-5deg) rotate(-5deg);
  -ms-transform: skew(-5deg) rotate(-5deg);
  -o-transform: skew(-5deg) rotate(-5deg);
  transform: skew(-5deg) rotate(-5deg);
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
z-index: -1;

}
.gameover:after {
  left: auto;
  right: 12px;
  -webkit-transform: skew(5deg) rotate(5deg);
  -moz-transform: skew(5deg) rotate(5deg);
  -ms-transform: skew(5deg) rotate(5deg);
  -o-transform: skew(5deg) rotate(5deg);
  transform: skew(5deg) rotate(5deg);
}
.container-fluid {

}



.header {
  width: 100%;
}

.head1 {
  width: 50%;
  float: left;
  background-color: blue;
  color: aliceblue;
  font-size: 2rem;
}

.head2 {
  width: 50%;
  float: right;
  background-color: blue;
  color: aliceblue;
  font-size: 2rem;
}


