<div class="container-fluid">
  <div class="jumbotron pt-4 mb-2 pb-0 text-center" style="height: 7rem">
    <div class="header">
      <div class="head1" *ngIf="move == 'your'">
        YOUR MOVE
      </div>
      <div class="head2" *ngIf="move == 'my'">
        MY MOVE
      </div>
    </div>

  </div>

  <div class="row">
  <div class = "col border-right"  >
   <app-battlefield [my]="false"
                     (shooter)="toShoot($event)"
                     (mover)="move = $event"
                     (winer)="gameOver($event)">
    </app-battlefield>
  </div>
  <div class = "col ">
    <app-battlefield [my]="true"
                     [shoot]="shoot"
                     (mover)="move = $event"
                     (winer)="gameOver($event)">
    </app-battlefield>
  </div>

</div>
<div class="modalWin">
    <div class="gameover text-center mt-2" *ngIf="!gameRun">
  <p class="pt-4">
    <span class="text-danger" style="font-weight: bold">GAME OVER!</span><br>
    <span *ngIf="myWin">
          I WIN!
        </span><br>
    <span class = "text-danger text-uppercase" style = "font-weight: bold" *ngIf="!myWin">
          YOU WIN!
        </span><br>
    Try again?
  </p>
  <a class="btn btn-success"href=''>START</a>
</div>
</div>


</div>





